*{
    margin:0px;
    padding:0px;
}
.divimg1 {
    height: 200px;
    width:100%;
    background-image: url(picture/headpicture.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;

}
.divimg2 { /*视频界面头图*/
    height: 200px;
    background-image: url(picture/missyou.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;

}

h4 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
    font-family: SimSun;
}
.music { /*音乐播放组件*/
    left: 0;
    right: 0;
    position: fixed;
    bottom: 10px;
    /*左右边距都为0，强迫其居中*/
}
body{
    background-color:#313151;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    
}

/*导航栏的div*/
.uldiv {
/*    使导航栏在最前方显示 值越大越靠前*/
    z-index: 10;
    position: sticky;
    top: 0px;
}
li {
    float: left;
}

li a {
    display: block;
    line-height: 30px;
/*    width: 50px;*/
    color:white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
        
}
.letter {
    float:right;
    line-height: 30px;
/*    width: 50px;*/
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}
.tip{
    color:yellow;
    font-size:12px;
}
/*首页头像旋转*/
.headimg {
    text-align: center;
    margin-top: 20px;

}


@-webkit-keyframes rotation {

    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.himg {
    -webkit-transform: rotate(360deg);
    animation: rotation 10s linear infinite;
    -moz-animation: rotation 10s linear infinite;
    -webkit-animation: rotation 10s linear infinite;
    -o-animation: rotation 10s linear infinite;
}

.himg {
    border-radius: 250px;
    text-align:center;
}

/*首页作者引言样式*/
.maintext {
    color: white;
    padding: 20px 15px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-family: SimSun;
}

/*单独设置表格每一列的格式*/
.td1 {
    text-align:center;
    width: 30px;
}
.td2 {
    text-align: center;
    width: 50px;
}
.td3 {
    text-align: center;
    width: 100px;
}
/*设置表格每一行样式*/
.tr1 {
    height:30px;
    background-color: #fb7ef5;
}

.tr2 {
    height: 30px;
    background-color: #ff6699;
}

.tr3 {
    height: 30px;
    background-color: #366af8;
}
/*当前时间字样样式*/
.time{ 
    top:30px;
    height:30px;
    width:150px;
    line-height:30px;
    text-align:center;
    margin:5px auto;
    color:#ffe9a1;
    font-size:20px;
}
/*时间样式*/
.report {
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-family: PingFang SC;
}
.ntime {
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: PingFang SC;
}
.pagebottom{
    text-align:center;
    color:white;
    padding-top:20px;
    padding-bottom:40px;
}
.indb{
    margin:0 auto;
}

.indb td{
    color:white;
    font-family:宋体;
    line-height:30px;
    border-bottom: 1px solid white;
}


/*视频界面的样式*/
.mvtitle {
    padding: 10px 0 0 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-decoration: none;
}

.mvtitle img{
    margin:0 auto;
    height:210px;
    width:100%;
/*    background-attachment:fixed;*/
/*    background-size:contain;*/
    
}
.video1 {
    position: relative;
    width: 100%;
/*    bottom:10px;*/
    padding-bottom:75%;
    top:5px;
}
.video1 iframe {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: 0;
}

/*影视资源界面*/
.resourcelink {
    width: 80%;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius:5px;

}

.resourcelink a{
    color:white;
    text-decoration:none;
    line-height:35px;
    font-size:18px;
    border:1px solid #815d7f;
    background-color:#815d7f;
}
.tdlink{
    color:white;
    padding:10px 0;
}

/*隐藏界面样式*/
table {
    width: 200px;
    margin: 50px auto;
    border: 1px solid transparent;
}
.hidelink {
    padding:0px;
    margin:0px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 30px;
    font-family: 宋体;
}