*{
    margin:0px;
    padding:0px;
}
.divimg1 {
    height:200px;
    background-image: url(picture/headpicture.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:contain;
}
.divimg2 {  /*视频界面头图*/
    height: 200px;
    background-image: url(picture/missyou.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
h4 {
    color: white;
    text-align: center;
    font-size:30px;
    padding:20px 0px;
    font-family:宋体;
}
.music { /*音乐播放组件*/
    left:0;
    right:0;
    position: fixed;
    bottom: 10px;
    /*左右边距都为0，强迫其居中*/
}
body{
    background-color:#313151;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;

}

li a {
    display: block;
    line-height: 30px;
    width: 50px;
    color:white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
        
}
.letter {
    float:right;
    line-height: 30px;
    width: 80px;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}
.tip{
    color:yellow;
    font-size:12px;
}

/*首页作者引言样式*/
.maintext{  
    color:white;
    padding:20px 15px;
    text-align:center;
    font-size:15px;
    line-height:30px;
    font-family:宋体;
}

/*单独设置表格每一列的格式*/
.td1 {
    text-align:center;
    width: 30px;
}
.td2 {
    text-align: center;
    width: 50px;
}
.td3 {
    text-align: center;
    width: 100px;
}
/*设置表格每一行样式*/
.tr1 {
    height:30px;
    background-color: #fb7ef5;
}

.tr2 {
    height: 30px;
    background-color: #ff6699;
}

.tr3 {
    height: 30px;
    background-color: #366af8;
}
/*当前时间字样样式*/
.time{ 
    top:30px;
    height:30px;
    width:150px;
    line-height:30px;
    text-align:center;
    margin:0 auto;
    color:#ffe9a1;
    font-size:20px;
}
/*时间样式*/
.report{
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}
.ntime {
    height: 30px;
    width: 200px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}


/*视频界面的样式*/
.mvtitle {
    padding: 10px 0 0 0;
    color: white;
    text-align: center;
    text-decoration:none;
}
.mvtitle img{
    margin:0 auto;
    background-attachment:fixed;
    background-size:contain;
    height:210px;
}
.video1 {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    top:5px;
}
.video1 iframe {
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: 0;
}

/*隐藏界面样式*/
table {
    margin: 0px auto;
    width: 200px;
    margin: 50px auto;
    border: 1px solid transparent;
}
.hidelink {
    padding:0px;
    margin:0px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-family: 宋体;
}